In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [19]:
df = sns.load_dataset('titanic')

In [20]:
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

<h3>Capturing a list of Column Names

In [21]:
df.columns

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')

<h3>Looking at datatypes of the columns

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [23]:
df['class']

0       Third
1       First
2       Third
3       First
4       Third
        ...
886    Second
887     First
888     Third
889     First
890     Third
Name: class, Length: 891, dtype: category
Categories (3, object): ['First', 'Second', 'Third']

<h3>Selecting a subset of columns

In [5]:
df[[ 'sex', 'age', 'sibsp', 'parch', 'fare', 'class', 'deck', 'embark_town', 'alive']]

        sex   age  sibsp  parch     fare   class deck  embark_town alive
0      male  22.0      1      0   7.2500   Third  NaN  Southampton    no
1    female  38.0      1      0  71.2833   First    C    Cherbourg   yes
2    female  26.0      0      0   7.9250   Third  NaN  Southampton   yes
3    female  35.0      1      0  53.1000   First    C  Southampton   yes
4      male  35.0      0      0   8.0500   Third  NaN  Southampton    no
..      ...   ...    ...    ...      ...     ...  ...          ...   ...
886    male  27.0      0      0  13.0000  Second  NaN  Southampton    no
887  female  19.0      0      0  30.0000   First    B  Southampton   yes
888  female   NaN      1      2  23.4500   Third  NaN  Southampton    no
889    male  26.0      0      0  30.0000   First    C    Cherbourg   yes
890    male  32.0      0      0   7.7500   Third  NaN   Queenstown    no

[891 rows x 9 columns]

<h3>Deleting Columns

In [6]:
df = df.drop(columns=['survived','pclass','embarked','who','adult_male','alone'])

In [7]:
df

        sex   age  sibsp  parch     fare   class deck  embark_town alive
0      male  22.0      1      0   7.2500   Third  NaN  Southampton    no
1    female  38.0      1      0  71.2833   First    C    Cherbourg   yes
2    female  26.0      0      0   7.9250   Third  NaN  Southampton   yes
3    female  35.0      1      0  53.1000   First    C  Southampton   yes
4      male  35.0      0      0   8.0500   Third  NaN  Southampton    no
..      ...   ...    ...    ...      ...     ...  ...          ...   ...
886    male  27.0      0      0  13.0000  Second  NaN  Southampton    no
887  female  19.0      0      0  30.0000   First    B  Southampton   yes
888  female   NaN      1      2  23.4500   Third  NaN  Southampton    no
889    male  26.0      0      0  30.0000   First    C    Cherbourg   yes
890    male  32.0      0      0   7.7500   Third  NaN   Queenstown    no

[891 rows x 9 columns]

<h3>Renaming Columns

In [8]:
df['class']

0       Third
1       First
2       Third
3       First
4       Third
        ...
886    Second
887     First
888     Third
889     First
890     Third
Name: class, Length: 891, dtype: category
Categories (3, object): ['First', 'Second', 'Third']

In [9]:
df.rename(columns={'class':'pclass',
                   'alive':'survived'}, inplace=True)

In [22]:
df

        sex   age  sibsp  parch     fare  pclass deck  embark_town survived
0      male  22.0      1      0   7.2500   Third  NaN  Southampton       no
1    female  38.0      1      0  71.2833   First    C    Cherbourg      yes
2    female  26.0      0      0   7.9250   Third  NaN  Southampton      yes
3    female  35.0      1      0  53.1000   First    C  Southampton      yes
4      male  35.0      0      0   8.0500   Third  NaN  Southampton       no
..      ...   ...    ...    ...      ...     ...  ...          ...      ...
886    male  27.0      0      0  13.0000  Second  NaN  Southampton       no
887  female  19.0      0      0  30.0000   First    B  Southampton      yes
888  female   NaN      1      2  23.4500   Third  NaN  Southampton       no
889    male  26.0      0      0  30.0000   First    C    Cherbourg      yes
890    male  32.0      0      0   7.7500   Third  NaN   Queenstown       no

[891 rows x 9 columns]

<h3>Evaluating Column Values

In [1]:
x = 5

In [2]:
x == 0

False

In [10]:
df['sibsp']==0

0      False
1      False
2       True
3      False
4       True
       ...
886     True
887     True
888    False
889     True
890     True
Name: sibsp, Length: 891, dtype: bool

<h3>Combining Statements

In [3]:
True & False

False

In [4]:
True & True

True

In [5]:
False & False

False

In [6]:
True | False

True

In [7]:
True | True

True

In [8]:
False | False

False

In [11]:
(df['sibsp']==0 )

0      False
1      False
2       True
3      False
4       True
       ...
886     True
887     True
888    False
889     True
890     True
Name: sibsp, Length: 891, dtype: bool

In [12]:
(df['parch']==0)

0       True
1       True
2       True
3       True
4       True
       ...
886     True
887     True
888    False
889     True
890     True
Name: parch, Length: 891, dtype: bool

In [13]:
(df['sibsp']==0) & (df['parch']==0)

0      False
1      False
2       True
3      False
4       True
       ...
886     True
887     True
888    False
889     True
890     True
Length: 891, dtype: bool

<h3>Adding Columns

In [14]:
df['alone'] = (df['sibsp']==0) & (df['parch']==0)

In [15]:
df

,sex,age,sibsp,parch,fare,pclass,deck,embark_town,survived,alone
0,male,22.0,1,0,7.2500,Third,NaN,Southampton,no,False
1,female,38.0,1,0,71.2833,First,C,Cherbourg,yes,False
2,female,26.0,0,0,7.9250,Third,NaN,Southampton,yes,True
3,female,35.0,1,0,53.1000,First,C,Southampton,yes,False
4,male,35.0,0,0,8.0500,Third,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...
886,male,27.0,0,0,13.0000,Second,NaN,Southampton,no,True
887,female,19.0,0,0,30.0000,First,B,Southampton,yes,True
888,female,NaN,1,2,23.4500,Third,NaN,Southampton,no,False
889,male,26.0,0,0,30.0000,First,C,Cherbourg,yes,True
890,male,32.0,0,0,7.7500,Third,NaN,Queenstown,no,True

In [16]:
df['sample'] = range(200)

ValueError: Length of values (200) does not match length of index (891)

In [31]:
df['sample'] = 7

In [32]:
df

,sex,age,sibsp,parch,fare,pclass,deck,embark_town,survived,alone,sample
0,male,22.0,1,0,7.2500,Third,NaN,Southampton,no,False,7
1,female,38.0,1,0,71.2833,First,C,Cherbourg,yes,False,7
2,female,26.0,0,0,7.9250,Third,NaN,Southampton,yes,True,7
3,female,35.0,1,0,53.1000,First,C,Southampton,yes,False,7
4,male,35.0,0,0,8.0500,Third,NaN,Southampton,no,True,7
...,...,...,...,...,...,...,...,...,...,...,...
886,male,27.0,0,0,13.0000,Second,NaN,Southampton,no,True,7
887,female,19.0,0,0,30.0000,First,B,Southampton,yes,True,7
888,female,NaN,1,2,23.4500,Third,NaN,Southampton,no,False,7
889,male,26.0,0,0,30.0000,First,C,Cherbourg,yes,True,7
890,male,32.0,0,0,7.7500,Third,NaN,Queenstown,no,True,7

In [34]:
df['sample2'] = [1,2,3,4]

ValueError: Length of values (4) does not match length of index (891)

<h3>Editing a Column

In [35]:
df['sample'] = 8

In [36]:
df

,sex,age,sibsp,parch,fare,pclass,deck,embark_town,survived,alone,sample
0,male,22.0,1,0,7.2500,Third,NaN,Southampton,no,False,8
1,female,38.0,1,0,71.2833,First,C,Cherbourg,yes,False,8
2,female,26.0,0,0,7.9250,Third,NaN,Southampton,yes,True,8
3,female,35.0,1,0,53.1000,First,C,Southampton,yes,False,8
4,male,35.0,0,0,8.0500,Third,NaN,Southampton,no,True,8
...,...,...,...,...,...,...,...,...,...,...,...
886,male,27.0,0,0,13.0000,Second,NaN,Southampton,no,True,8
887,female,19.0,0,0,30.0000,First,B,Southampton,yes,True,8
888,female,NaN,1,2,23.4500,Third,NaN,Southampton,no,False,8
889,male,26.0,0,0,30.0000,First,C,Cherbourg,yes,True,8
890,male,32.0,0,0,7.7500,Third,NaN,Queenstown,no,True,8

<h3>Swapping the values of a column

In [37]:
change = {'no':0,
          'yes':1}

In [38]:
df['survived_num'] = df['survived'].replace(change)

/tmp/ipython-input-38-392700281.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['survived_num'] = df['survived'].replace(change)

In [ ]:
df

,sex,age,sibsp,parch,fare,pclass,deck,embark_town,survived,sample,survived_num
0,male,22.0,1,0,7.2500,Third,NaN,Southampton,no,8,0
1,female,38.0,1,0,71.2833,First,C,Cherbourg,yes,8,1
2,female,26.0,0,0,7.9250,Third,NaN,Southampton,yes,8,1
3,female,35.0,1,0,53.1000,First,C,Southampton,yes,8,1
4,male,35.0,0,0,8.0500,Third,NaN,Southampton,no,8,0
...,...,...,...,...,...,...,...,...,...,...,...
886,male,27.0,0,0,13.0000,Second,NaN,Southampton,no,8,0
887,female,19.0,0,0,30.0000,First,B,Southampton,yes,8,1
888,female,NaN,1,2,23.4500,Third,NaN,Southampton,no,8,0
889,male,26.0,0,0,30.0000,First,C,Cherbourg,yes,8,1
890,male,32.0,0,0,7.7500,Third,NaN,Queenstown,no,8,0

<h3>Checking for Unique Values

In [ ]:
df['deck'].unique()

[NaN, 'C', 'E', 'G', 'D', 'A', 'B', 'F']
Categories (7, object): ['A', 'B', 'C', 'D', 'E', 'F', 'G']

In [ ]:
df['embark_town'].nunique()

3

<h3>Distribution among unique values

In [39]:
df['embark_town'].value_counts()

embark_town
Southampton    644
Cherbourg      168
Queenstown      77
Name: count, dtype: int64

<h3>Bucketting Values of a Numeric Feature

In [40]:
df['age']//10*10

0      20.0
1      30.0
2      20.0
3      30.0
4      30.0
       ...
886    20.0
887    10.0
888     NaN
889    20.0
890    30.0
Name: age, Length: 891, dtype: float64

In [41]:
df['age_bucket'] = df['age']//10*10

<h3>Groupby Function

In [45]:
df.groupby('sex').age.mean()

sex
female    27.915709
male      30.726645
Name: age, dtype: float64

In [43]:
df.groupby('sex').mean()

TypeError: category dtype does not support aggregation 'mean'

In [44]:
df.groupby('sex')

In [46]:
df[df.sex=='male'].age.mean(), df[df.sex=='female'].age.mean()

(np.float64(30.72664459161148), np.float64(27.915708812260537))

In [48]:
df.groupby('sex').age.agg([np.min, np.mean, np.max])

/tmp/ipython-input-48-791662532.py:1: FutureWarning: The provided callable <function min at 0x7f54c3851b20> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  df.groupby('sex').age.agg([np.min, np.mean, np.max])
/tmp/ipython-input-48-791662532.py:1: FutureWarning: The provided callable <function mean at 0x7f54c38523e0> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df.groupby('sex').age.agg([np.min, np.mean, np.max])
/tmp/ipython-input-48-791662532.py:1: FutureWarning: The provided callable <function max at 0x7f54c38519e0> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df.groupby('sex').age.agg([np.min, np.mean, np.max])

         min       mean   max
sex
female  0.75  27.915709  63.0
male    0.42  30.726645  80.0

In [47]:
df.groupby('age_bucket').survived_num.mean()

age_bucket
0.0     0.612903
10.0    0.401961
20.0    0.350000
30.0    0.437126
40.0    0.382022
50.0    0.416667
60.0    0.315789
70.0    0.000000
80.0    1.000000
Name: survived_num, dtype: float64

In [49]:
df.groupby(['sex','age_bucket']).survived_num.agg([np.mean, np.size])

/tmp/ipython-input-49-2248724556.py:1: FutureWarning: The provided callable <function mean at 0x7f54c38523e0> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df.groupby(['sex','age_bucket']).survived_num.agg([np.mean, np.size])

                       mean  size
sex    age_bucket
female 0.0         0.633333    30
       10.0        0.755556    45
       20.0        0.722222    72
       30.0        0.833333    60
       40.0        0.687500    32
       50.0        0.888889    18
       60.0        1.000000     4
male   0.0         0.593750    32
       10.0        0.122807    57
       20.0        0.168919   148
       30.0        0.214953   107
       40.0        0.210526    57
       50.0        0.133333    30
       60.0        0.133333    15
       70.0        0.000000     6
       80.0        1.000000     1

<h3>Sort a DataFrame

In [50]:
df.sort_values(by='age')

,sex,age,sibsp,parch,fare,pclass,deck,embark_town,survived,alone,sample,survived_num,age_bucket
803,male,0.42,0,1,8.5167,Third,NaN,Cherbourg,yes,False,8,1,0.0
755,male,0.67,1,1,14.5000,Second,NaN,Southampton,yes,False,8,1,0.0
644,female,0.75,2,1,19.2583,Third,NaN,Cherbourg,yes,False,8,1,0.0
469,female,0.75,2,1,19.2583,Third,NaN,Cherbourg,yes,False,8,1,0.0
78,male,0.83,0,2,29.0000,Second,NaN,Southampton,yes,False,8,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
859,male,NaN,0,0,7.2292,Third,NaN,Cherbourg,no,True,8,0,NaN
863,female,NaN,8,2,69.5500,Third,NaN,Southampton,no,False,8,0,NaN
868,male,NaN,0,0,9.5000,Third,NaN,Southampton,no,True,8,0,NaN
878,male,NaN,0,0,7.8958,Third,NaN,Southampton,no,True,8,0,NaN
888,female,NaN,1,2,23.4500,Third,NaN,Southampton,no,False,8,0,NaN

<h3>Handling Missing Values

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sex           891 non-null    object
 1   age           714 non-null    float64
 2   sibsp         891 non-null    int64
 3   parch         891 non-null    int64
 4   fare          891 non-null    float64
 5   pclass        891 non-null    category
 6   deck          203 non-null    category
 7   embark_town   889 non-null    object
 8   survived      891 non-null    object
 9   alone         891 non-null    bool
 10  sample        891 non-null    int64
 11  survived_num  891 non-null    int64
 12  age_bucket    714 non-null    float64
dtypes: bool(1), category(2), float64(3), int64(4), object(3)
memory usage: 72.8+ KB

In [52]:
#drop rows with any missing
df.dropna()

,sex,age,sibsp,parch,fare,pclass,deck,embark_town,survived,alone,sample,survived_num,age_bucket
1,female,38.0,1,0,71.2833,First,C,Cherbourg,yes,False,8,1,30.0
3,female,35.0,1,0,53.1000,First,C,Southampton,yes,False,8,1,30.0
6,male,54.0,0,0,51.8625,First,E,Southampton,no,True,8,0,50.0
10,female,4.0,1,1,16.7000,Third,G,Southampton,yes,False,8,1,0.0
11,female,58.0,0,0,26.5500,First,C,Southampton,yes,True,8,1,50.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
871,female,47.0,1,1,52.5542,First,D,Southampton,yes,False,8,1,40.0
872,male,33.0,0,0,5.0000,First,B,Southampton,no,True,8,0,30.0
879,female,56.0,0,1,83.1583,First,C,Cherbourg,yes,False,8,1,50.0
887,female,19.0,0,0,30.0000,First,B,Southampton,yes,True,8,1,10.0
889,male,26.0,0,0,30.0000,First,C,Cherbourg,yes,True,8,1,20.0

In [53]:
#drop rows with certain missing
df.dropna(subset='embark_town')

,sex,age,sibsp,parch,fare,pclass,deck,embark_town,survived,alone,sample,survived_num,age_bucket
0,male,22.0,1,0,7.2500,Third,NaN,Southampton,no,False,8,0,20.0
1,female,38.0,1,0,71.2833,First,C,Cherbourg,yes,False,8,1,30.0
2,female,26.0,0,0,7.9250,Third,NaN,Southampton,yes,True,8,1,20.0
3,female,35.0,1,0,53.1000,First,C,Southampton,yes,False,8,1,30.0
4,male,35.0,0,0,8.0500,Third,NaN,Southampton,no,True,8,0,30.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,male,27.0,0,0,13.0000,Second,NaN,Southampton,no,True,8,0,20.0
887,female,19.0,0,0,30.0000,First,B,Southampton,yes,True,8,1,10.0
888,female,NaN,1,2,23.4500,Third,NaN,Southampton,no,False,8,0,NaN
889,male,26.0,0,0,30.0000,First,C,Cherbourg,yes,True,8,1,20.0
890,male,32.0,0,0,7.7500,Third,NaN,Queenstown,no,True,8,0,30.0

In [54]:
df['age'].fillna(0)

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     0.0
889    26.0
890    32.0
Name: age, Length: 891, dtype: float64

In [55]:
df['age'].fillna(df.age.mean())

0      22.000000
1      38.000000
2      26.000000
3      35.000000
4      35.000000
         ...
886    27.000000
887    19.000000
888    29.699118
889    26.000000
890    32.000000
Name: age, Length: 891, dtype: float64

<h3>Applying Functions to Data

In [56]:
df['fare'] + 5

0      12.2500
1      76.2833
2      12.9250
3      58.1000
4      13.0500
        ...
886    18.0000
887    35.0000
888    28.4500
889    35.0000
890    12.7500
Name: fare, Length: 891, dtype: float64

In [57]:
# x**2 + 7x + 3x**3 + 5

In [58]:
df['fare']**2 + 7*df['fare'] + 3*df['fare']**3 + 5

0      1.251547e+03
1      1.092223e+06
2      1.616484e+03
3      4.523602e+05
4      1.691133e+03
           ...
886    6.856000e+03
887    8.211500e+04
888    3.940469e+04
889    8.211500e+04
890    1.515766e+03
Name: fare, Length: 891, dtype: float64

In [ ]:
x

5

In [59]:
def my_function(x):

  return x**2 + 7*x + 3*x**3 + 5

In [60]:
my_function(5)

440

In [61]:
df['fare'].apply(my_function)

0      1.251547e+03
1      1.092223e+06
2      1.616484e+03
3      4.523602e+05
4      1.691133e+03
           ...
886    6.856000e+03
887    8.211500e+04
888    3.940469e+04
889    8.211500e+04
890    1.515766e+03
Name: fare, Length: 891, dtype: float64

In [62]:
df['fare'].apply(lambda x: x**2 + 7*x + 3*x**3 + 5)

0      1.251547e+03
1      1.092223e+06
2      1.616484e+03
3      4.523602e+05
4      1.691133e+03
           ...
886    6.856000e+03
887    8.211500e+04
888    3.940469e+04
889    8.211500e+04
890    1.515766e+03
Name: fare, Length: 891, dtype: float64

In [63]:
df['fare'].apply(lambda x: my_function(x) - 5)

0      1.246547e+03
1      1.092218e+06
2      1.611484e+03
3      4.523552e+05
4      1.686133e+03
           ...
886    6.851000e+03
887    8.211000e+04
888    3.939969e+04
889    8.211000e+04
890    1.510766e+03
Name: fare, Length: 891, dtype: float64

In [64]:
df[['age','fare']].apply(my_function)

          age          fare
0     32587.0  1.251547e+03
1    166331.0  1.092223e+06
2     53591.0  1.616484e+03
3    130100.0  4.523602e+05
4    130100.0  1.691133e+03
..        ...           ...
886   59972.0  6.856000e+03
887   21076.0  8.211500e+04
888       NaN  3.940469e+04
889   53591.0  8.211500e+04
890   99557.0  1.515766e+03

[891 rows x 2 columns]

In [65]:
df['embark_town'][0][0]

'S'

In [66]:
df = df.dropna(subset='embark_town')

In [67]:
df['embark_town'].map(lambda x: x[0])

0      S
1      C
2      S
3      S
4      S
      ..
886    S
887    S
888    S
889    C
890    Q
Name: embark_town, Length: 889, dtype: object

In [68]:
df['embark_town'].map(lambda x: x.lower())

0      southampton
1        cherbourg
2      southampton
3      southampton
4      southampton
          ...
886    southampton
887    southampton
888    southampton
889      cherbourg
890     queenstown
Name: embark_town, Length: 889, dtype: object

<h3>Selecting Only Columns of a Certain Type

In [69]:
df.select_dtypes(include=['float','int'])

      age  sibsp  parch     fare  sample  survived_num  age_bucket
0    22.0      1      0   7.2500       8             0        20.0
1    38.0      1      0  71.2833       8             1        30.0
2    26.0      0      0   7.9250       8             1        20.0
3    35.0      1      0  53.1000       8             1        30.0
4    35.0      0      0   8.0500       8             0        30.0
..    ...    ...    ...      ...     ...           ...         ...
886  27.0      0      0  13.0000       8             0        20.0
887  19.0      0      0  30.0000       8             1        10.0
888   NaN      1      2  23.4500       8             0         NaN
889  26.0      0      0  30.0000       8             1        20.0
890  32.0      0      0   7.7500       8             0        30.0

[889 rows x 7 columns]

In [70]:
df.select_dtypes(include=['float','int']).apply(my_function)

          age  sibsp  parch          fare  sample  survived_num  age_bucket
0     32587.0     16      5  1.251547e+03    1661             5     24545.0
1    166331.0     16      5  1.092223e+06    1661            16     82115.0
2     53591.0      5      5  1.616484e+03    1661            16     24545.0
3    130100.0     16      5  4.523602e+05    1661            16     82115.0
4    130100.0      5      5  1.691133e+03    1661             5     82115.0
..        ...    ...    ...           ...     ...           ...         ...
886   59972.0      5      5  6.856000e+03    1661             5     24545.0
887   21076.0      5      5  8.211500e+04    1661            16      3175.0
888       NaN     16     47  3.940469e+04    1661             5         NaN
889   53591.0      5      5  8.211500e+04    1661            16     24545.0
890   99557.0      5      5  1.515766e+03    1661             5     82115.0

[889 rows x 7 columns]

<h3>Re Ordering Columns

In [71]:
df.columns.tolist()

['sex',
 'age',
 'sibsp',
 'parch',
 'fare',
 'pclass',
 'deck',
 'embark_town',
 'survived',
 'alone',
 'sample',
 'survived_num',
 'age_bucket']

In [72]:
df[['age','survived','alone','age_bucket']]

      age survived  alone  age_bucket
0    22.0       no  False        20.0
1    38.0      yes  False        30.0
2    26.0      yes   True        20.0
3    35.0      yes  False        30.0
4    35.0       no   True        30.0
..    ...      ...    ...         ...
886  27.0       no   True        20.0
887  19.0      yes   True        10.0
888   NaN       no  False         NaN
889  26.0      yes   True        20.0
890  32.0       no   True        30.0

[889 rows x 4 columns]

<h3>Printing two values together

In [73]:
def print_statement(x):
  return 'Passenger fare is: ' + str(x['fare']) + ' and class is ' + x['pclass']

In [74]:
df.apply(print_statement, axis=1)

0         Passenger fare is: 7.25 and class is Third
1      Passenger fare is: 71.2833 and class is First
2        Passenger fare is: 7.925 and class is Third
3         Passenger fare is: 53.1 and class is First
4         Passenger fare is: 8.05 and class is Third
                           ...
886      Passenger fare is: 13.0 and class is Second
887       Passenger fare is: 30.0 and class is First
888      Passenger fare is: 23.45 and class is Third
889       Passenger fare is: 30.0 and class is First
890       Passenger fare is: 7.75 and class is Third
Length: 889, dtype: object

In [75]:
def multi_column_function(x):
  return x['fare']**2 + x['age']

In [76]:
df.apply(multi_column_function, axis=1)

0        74.562500
1      5119.308859
2        88.805625
3      2854.610000
4        99.802500
          ...
886     196.000000
887     919.000000
888            NaN
889     926.000000
890      92.062500
Length: 889, dtype: float64

In [77]:
df[['fare','pclass']]

        fare  pclass
0     7.2500   Third
1    71.2833   First
2     7.9250   Third
3    53.1000   First
4     8.0500   Third
..       ...     ...
886  13.0000  Second
887  30.0000   First
888  23.4500   Third
889  30.0000   First
890   7.7500   Third

[889 rows x 2 columns]

In [79]:
df[['fare','pclass']].apply(lambda x: print(x), axis=1)

fare       7.25
pclass    Third
Name: 0, dtype: object
fare      71.2833
pclass      First
Name: 1, dtype: object
fare      7.925
pclass    Third
Name: 2, dtype: object
fare       53.1
pclass    First
Name: 3, dtype: object
fare       8.05
pclass    Third
Name: 4, dtype: object
fare      8.4583
pclass     Third
Name: 5, dtype: object
fare      51.8625
pclass      First
Name: 6, dtype: object
fare      21.075
pclass     Third
Name: 7, dtype: object
fare      11.1333
pclass      Third
Name: 8, dtype: object
fare      30.0708
pclass     Second
Name: 9, dtype: object
fare       16.7
pclass    Third
Name: 10, dtype: object
fare      26.55
pclass    First
Name: 11, dtype: object
fare       8.05
pclass    Third
Name: 12, dtype: object
fare      31.275
pclass     Third
Name: 13, dtype: object
fare      7.8542
pclass     Third
Name: 14, dtype: object
fare        16.0
pclass    Second
Name: 15, dtype: object
fare      29.125
pclass     Third
Name: 16, dtype: object
fare        13.0
pclass    Second
Name: 17, dtype: object
fare       18.0
pclass    Third
Name: 18, dtype: object
fare      7.225
pclass    Third
Name: 19, dtype: object
fare        26.0
pclass    Second
Name: 20, dtype: object
fare        13.0
pclass    Second
Name: 21, dtype: object
fare      8.0292
pclass     Third
Name: 22, dtype: object
fare       35.5
pclass    First
Name: 23, dtype: object
fare      21.075
pclass     Third
Name: 24, dtype: object
fare      31.3875
pclass      Third
Name: 25, dtype: object
fare      7.225
pclass    Third
Name: 26, dtype: object
fare      263.0
pclass    First
Name: 27, dtype: object
fare      7.8792
pclass     Third
Name: 28, dtype: object
fare      7.8958
pclass     Third
Name: 29, dtype: object
fare      27.7208
pclass      First
Name: 30, dtype: object
fare      146.5208
pclass       First
Name: 31, dtype: object
fare       7.75
pclass    Third
Name: 32, dtype: object
fare        10.5
pclass    Second
Name: 33, dtype: object
fare      82.1708
pclass      First
Name: 34, dtype: object
fare       52.0
pclass    First
Name: 35, dtype: object
fare      7.2292
pclass     Third
Name: 36, dtype: object
fare       8.05
pclass    Third
Name: 37, dtype: object
fare       18.0
pclass    Third
Name: 38, dtype: object
fare      11.2417
pclass      Third
Name: 39, dtype: object
fare      9.475
pclass    Third
Name: 40, dtype: object
fare        21.0
pclass    Second
Name: 41, dtype: object
fare      7.8958
pclass     Third
Name: 42, dtype: object
fare      41.5792
pclass     Second
Name: 43, dtype: object
fare      7.8792
pclass     Third
Name: 44, dtype: object
fare       8.05
pclass    Third
Name: 45, dtype: object
fare       15.5
pclass    Third
Name: 46, dtype: object
fare       7.75
pclass    Third
Name: 47, dtype: object
fare      21.6792
pclass      Third
Name: 48, dtype: object
fare       17.8
pclass    Third
Name: 49, dtype: object
fare      39.6875
pclass      Third
Name: 50, dtype: object
fare        7.8
pclass    Third
Name: 51, dtype: object
fare      76.7292
pclass      First
Name: 52, dtype: object
fare        26.0
pclass    Second
Name: 53, dtype: object
fare      61.9792
pclass      First
Name: 54, dtype: object
fare       35.5
pclass    First
Name: 55, dtype: object
fare        10.5
pclass    Second
Name: 56, dtype: object
fare      7.2292
pclass     Third
Name: 57, dtype: object
fare       27.75
pclass    Second
Name: 58, dtype: object
fare       46.9
pclass    Third
Name: 59, dtype: object
fare      7.2292
pclass     Third
Name: 60, dtype: object
fare      83.475
pclass     First
Name: 62, dtype: object
fare       27.9
pclass    Third
Name: 63, dtype: object
fare      27.7208
pclass      First
Name: 64, dtype: object
fare      15.2458
pclass      Third
Name: 65, dtype: object
fare        10.5
pclass    Second
Name: 66, dtype: object
fare      8.1583
pclass     Third
Name: 67, dtype: object
fare      7.925
pclass    Third
Name: 68, dtype: object
fare      8.6625
pclass     Third
Name: 69, dtype: object
fare        10.5
pclass    Second
Name: 70, dtype: object
fare       46.9
pclass    Third
Name: 71, dtype: object
fare        73.5
pclass    Second
Name: 72, dtype: object
fare      14.4542
pclass      Third
Name: 73, dtype: object
fare      56.4958
pclass      Third
Name: 74, dtype: object
fare       7.65
pclass    Third
Name: 75, dtype: object
fare      7.8958
pclass     Third
Name: 76, dtype: object
fare       8.05
pclass    Third
Name: 77, dtype: object
fare        29.0
pclass    Second
Name: 78, dtype: object
fare      12.475
pclass     Third
Name: 79, dtype: object
fare        9.0
pclass    Third
Name: 80, dtype: object
fare        9.5
pclass    Third
Name: 81, dtype: object
fare      7.7875
pclass     Third
Name: 82, dtype: object
fare       47.1
pclass    First
Name: 83, dtype: object
fare        10.5
pclass    Second
Name: 84, dtype: object
fare      15.85
pclass    Third
Name: 85, dtype: object
fare      34.375
pclass     Third
Name: 86, dtype: object
fare       8.05
pclass    Third
Name: 87, dtype: object
fare      263.0
pclass    First
Name: 88, dtype: object
fare       8.05
pclass    Third
Name: 89, dtype: object
fare       8.05
pclass    Third
Name: 90, dtype: object
fare      7.8542
pclass     Third
Name: 91, dtype: object
fare      61.175
pclass     First
Name: 92, dtype: object
fare      20.575
pclass     Third
Name: 93, dtype: object
fare       7.25
pclass    Third
Name: 94, dtype: object
fare       8.05
pclass    Third
Name: 95, dtype: object
fare      34.6542
pclass      First
Name: 96, dtype: object
fare      63.3583
pclass      First
Name: 97, dtype: object
fare        23.0
pclass    Second
Name: 98, dtype: object
fare        26.0
pclass    Second
Name: 99, dtype: object
fare      7.8958
pclass     Third
Name: 100, dtype: object
fare      7.8958
pclass     Third
Name: 101, dtype: object
fare      77.2875
pclass      First
Name: 102, dtype: object
fare      8.6542
pclass     Third
Name: 103, dtype: object
fare      7.925
pclass    Third
Name: 104, dtype: object
fare      7.8958
pclass     Third
Name: 105, dtype: object
fare       7.65
pclass    Third
Name: 106, dtype: object
fare      7.775
pclass    Third
Name: 107, dtype: object
fare      7.8958
pclass     Third
Name: 108, dtype: object
fare      24.15
pclass    Third
Name: 109, dtype: object
fare       52.0
pclass    First
Name: 110, dtype: object
fare      14.4542
pclass      Third
Name: 111, dtype: object
fare       8.05
pclass    Third
Name: 112, dtype: object
fare      9.825
pclass    Third
Name: 113, dtype: object
fare      14.4583
pclass      Third
Name: 114, dtype: object
fare      7.925
pclass    Third
Name: 115, dtype: object
fare       7.75
pclass    Third
Name: 116, dtype: object
fare        21.0
pclass    Second
Name: 117, dtype: object
fare      247.5208
pclass       First
Name: 118, dtype: object
fare      31.275
pclass     Third
Name: 119, dtype: object
fare        73.5
pclass    Second
Name: 120, dtype: object
fare       8.05
pclass    Third
Name: 121, dtype: object
fare      30.0708
pclass     Second
Name: 122, dtype: object
fare        13.0
pclass    Second
Name: 123, dtype: object
fare      77.2875
pclass      First
Name: 124, dtype: object
fare      11.2417
pclass      Third
Name: 125, dtype: object
fare       7.75
pclass    Third
Name: 126, dtype: object
fare      7.1417
pclass     Third
Name: 127, dtype: object
fare      22.3583
pclass      Third
Name: 128, dtype: object
fare      6.975
pclass    Third
Name: 129, dtype: object
fare      7.8958
pclass     Third
Name: 130, dtype: object
fare       7.05
pclass    Third
Name: 131, dtype: object
fare       14.5
pclass    Third
Name: 132, dtype: object
fare        26.0
pclass    Second
Name: 133, dtype: object
fare        13.0
pclass    Second
Name: 134, dtype: object
fare      15.0458
pclass     Second
Name: 135, dtype: object
fare      26.2833
pclass      First
Name: 136, dtype: object
fare       53.1
pclass    First
Name: 137, dtype: object
fare      9.2167
pclass     Third
Name: 138, dtype: object
fare       79.2
pclass    First
Name: 139, dtype: object
fare      15.2458
pclass      Third
Name: 140, dtype: object
fare       7.75
pclass    Third
Name: 141, dtype: object
fare      15.85
pclass    Third
Name: 142, dtype: object
fare       6.75
pclass    Third
Name: 143, dtype: object
fare        11.5
pclass    Second
Name: 144, dtype: object
fare       36.75
pclass    Second
Name: 145, dtype: object
fare      7.7958
pclass     Third
Name: 146, dtype: object
fare      34.375
pclass     Third
Name: 147, dtype: object
fare        26.0
pclass    Second
Name: 148, dtype: object
fare        13.0
pclass    Second
Name: 149, dtype: object
fare      12.525
pclass    Second
Name: 150, dtype: object
fare       66.6
pclass    First
Name: 151, dtype: object
fare       8.05
pclass    Third
Name: 152, dtype: object
fare       14.5
pclass    Third
Name: 153, dtype: object
fare      7.3125
pclass     Third
Name: 154, dtype: object
fare      61.3792
pclass      First
Name: 155, dtype: object
fare      7.7333
pclass     Third
Name: 156, dtype: object
fare       8.05
pclass    Third
Name: 157, dtype: object
fare      8.6625
pclass     Third
Name: 158, dtype: object
fare      69.55
pclass    Third
Name: 159, dtype: object
fare       16.1
pclass    Third
Name: 160, dtype: object
fare       15.75
pclass    Second
Name: 161, dtype: object
fare      7.775
pclass    Third
Name: 162, dtype: object
fare      8.6625
pclass     Third
Name: 163, dtype: object
fare      39.6875
pclass      Third
Name: 164, dtype: object
fare      20.525
pclass     Third
Name: 165, dtype: object
fare       55.0
pclass    First
Name: 166, dtype: object
fare       27.9
pclass    Third
Name: 167, dtype: object
fare      25.925
pclass     First
Name: 168, dtype: object
fare      56.4958
pclass      Third
Name: 169, dtype: object
fare       33.5
pclass    First
Name: 170, dtype: object
fare      29.125
pclass     Third
Name: 171, dtype: object
fare      11.1333
pclass      Third
Name: 172, dtype: object
fare      7.925
pclass    Third
Name: 173, dtype: object
fare      30.6958
pclass      First
Name: 174, dtype: object
fare      7.8542
pclass     Third
Name: 175, dtype: object
fare      25.4667
pclass      Third
Name: 176, dtype: object
fare      28.7125
pclass      First
Name: 177, dtype: object
fare        13.0
pclass    Second
Name: 178, dtype: object
fare        0.0
pclass    Third
Name: 179, dtype: object
fare      69.55
pclass    Third
Name: 180, dtype: object
fare       15.05
pclass    Second
Name: 181, dtype: object
fare      31.3875
pclass      Third
Name: 182, dtype: object
fare        39.0
pclass    Second
Name: 183, dtype: object
fare      22.025
pclass     Third
Name: 184, dtype: object
fare       50.0
pclass    First
Name: 185, dtype: object
fare       15.5
pclass    Third
Name: 186, dtype: object
fare      26.55
pclass    First
Name: 187, dtype: object
fare       15.5
pclass    Third
Name: 188, dtype: object
fare      7.8958
pclass     Third
Name: 189, dtype: object
fare        13.0
pclass    Second
Name: 190, dtype: object
fare        13.0
pclass    Second
Name: 191, dtype: object
fare      7.8542
pclass     Third
Name: 192, dtype: object
fare        26.0
pclass    Second
Name: 193, dtype: object
fare      27.7208
pclass      First
Name: 194, dtype: object
fare      146.5208
pclass       First
Name: 195, dtype: object
fare       7.75
pclass    Third
Name: 196, dtype: object
fare      8.4042
pclass     Third
Name: 197, dtype: object
fare       7.75
pclass    Third
Name: 198, dtype: object
fare        13.0
pclass    Second
Name: 199, dtype: object
fare        9.5
pclass    Third
Name: 200, dtype: object
fare      69.55
pclass    Third
Name: 201, dtype: object
fare      6.4958
pclass     Third
Name: 202, dtype: object
fare      7.225
pclass    Third
Name: 203, dtype: object
fare       8.05
pclass    Third
Name: 204, dtype: object
fare      10.4625
pclass      Third
Name: 205, dtype: object
fare      15.85
pclass    Third
Name: 206, dtype: object
fare      18.7875
pclass      Third
Name: 207, dtype: object
fare       7.75
pclass    Third
Name: 208, dtype: object
fare       31.0
pclass    First
Name: 209, dtype: object
fare       7.05
pclass    Third
Name: 210, dtype: object
fare        21.0
pclass    Second
Name: 211, dtype: object
fare       7.25
pclass    Third
Name: 212, dtype: object
fare        13.0
pclass    Second
Name: 213, dtype: object
fare       7.75
pclass    Third
Name: 214, dtype: object
fare      113.275
pclass      First
Name: 215, dtype: object
fare      7.925
pclass    Third
Name: 216, dtype: object
fare        27.0
pclass    Second
Name: 217, dtype: object
fare      76.2917
pclass      First
Name: 218, dtype: object
fare        10.5
pclass    Second
Name: 219, dtype: object
fare       8.05
pclass    Third
Name: 220, dtype: object
fare        13.0
pclass    Second
Name: 221, dtype: object
fare       8.05
pclass    Third
Name: 222, dtype: object
fare      7.8958
pclass     Third
Name: 223, dtype: object
fare       90.0
pclass    First
Name: 224, dtype: object
fare       9.35
pclass    Third
Name: 225, dtype: object
fare        10.5
pclass    Second
Name: 226, dtype: object
fare       7.25
pclass    Third
Name: 227, dtype: object
fare        13.0
pclass    Second
Name: 228, dtype: object
fare      25.4667
pclass      Third
Name: 229, dtype: object
fare      83.475
pclass     First
Name: 230, dtype: object
fare      7.775
pclass    Third
Name: 231, dtype: object
fare        13.5
pclass    Second
Name: 232, dtype: object
fare      31.3875
pclass      Third
Name: 233, dtype: object
fare        10.5
pclass    Second
Name: 234, dtype: object
fare       7.55
pclass    Third
Name: 235, dtype: object
fare        26.0
pclass    Second
Name: 236, dtype: object
fare       26.25
pclass    Second
Name: 237, dtype: object
fare        10.5
pclass    Second
Name: 238, dtype: object
fare      12.275
pclass    Second
Name: 239, dtype: object
fare      14.4542
pclass      Third
Name: 240, dtype: object
fare       15.5
pclass    Third
Name: 241, dtype: object
fare        10.5
pclass    Second
Name: 242, dtype: object
fare      7.125
pclass    Third
Name: 243, dtype: object
fare      7.225
pclass    Third
Name: 244, dtype: object
fare       90.0
pclass    First
Name: 245, dtype: object
fare      7.775
pclass    Third
Name: 246, dtype: object
fare        14.5
pclass    Second
Name: 247, dtype: object
fare      52.5542
pclass      First
Name: 248, dtype: object
fare        26.0
pclass    Second
Name: 249, dtype: object
fare       7.25
pclass    Third
Name: 250, dtype: object
fare      10.4625
pclass      Third
Name: 251, dtype: object
fare      26.55
pclass    First
Name: 252, dtype: object
fare       16.1
pclass    Third
Name: 253, dtype: object
fare      20.2125
pclass      Third
Name: 254, dtype: object
fare      15.2458
pclass      Third
Name: 255, dtype: object
fare       79.2
pclass    First
Name: 256, dtype: object
fare       86.5
pclass    First
Name: 257, dtype: object
fare      512.3292
pclass       First
Name: 258, dtype: object
fare        26.0
pclass    Second
Name: 259, dtype: object
fare       7.75
pclass    Third
Name: 260, dtype: object
fare      31.3875
pclass      Third
Name: 261, dtype: object
fare      79.65
pclass    First
Name: 262, dtype: object
fare        0.0
pclass    First
Name: 263, dtype: object
fare       7.75
pclass    Third
Name: 264, dtype: object
fare        10.5
pclass    Second
Name: 265, dtype: object
fare      39.6875
pclass      Third
Name: 266, dtype: object
fare      7.775
pclass    Third
Name: 267, dtype: object
fare      153.4625
pclass       First
Name: 268, dtype: object
fare      135.6333
pclass       First
Name: 269, dtype: object
fare       31.0
pclass    First
Name: 270, dtype: object
fare        0.0
pclass    Third
Name: 271, dtype: object
fare        19.5
pclass    Second
Name: 272, dtype: object
fare       29.7
pclass    First
Name: 273, dtype: object
fare       7.75
pclass    Third
Name: 274, dtype: object
fare      77.9583
pclass      First
Name: 275, dtype: object
fare       7.75
pclass    Third
Name: 276, dtype: object
fare         0.0
pclass    Second
Name: 277, dtype: object
fare      29.125
pclass     Third
Name: 278, dtype: object
fare      20.25
pclass    Third
Name: 279, dtype: object
fare       7.75
pclass    Third
Name: 280, dtype: object
fare      7.8542
pclass     Third
Name: 281, dtype: object
fare        9.5
pclass    Third
Name: 282, dtype: object
fare       8.05
pclass    Third
Name: 283, dtype: object
fare       26.0
pclass    First
Name: 284, dtype: object
fare      8.6625
pclass     Third
Name: 285, dtype: object
fare        9.5
pclass    Third
Name: 286, dtype: object
fare      7.8958
pclass     Third
Name: 287, dtype: object
fare        13.0
pclass    Second
Name: 288, dtype: object
fare       7.75
pclass    Third
Name: 289, dtype: object
fare      78.85
pclass    First
Name: 290, dtype: object
fare      91.0792
pclass      First
Name: 291, dtype: object
fare      12.875
pclass    Second
Name: 292, dtype: object
fare       8.85
pclass    Third
Name: 293, dtype: object
fare      7.8958
pclass     Third
Name: 294, dtype: object
fare      27.7208
pclass      First
Name: 295, dtype: object
fare      7.2292
pclass     Third
Name: 296, dtype: object
fare      151.55
pclass     First
Name: 297, dtype: object
fare       30.5
pclass    First
Name: 298, dtype: object
fare      247.5208
pclass       First
Name: 299, dtype: object
fare       7.75
pclass    Third
Name: 300, dtype: object
fare      23.25
pclass    Third
Name: 301, dtype: object
fare        0.0
pclass    Third
Name: 302, dtype: object
fare       12.35
pclass    Second
Name: 303, dtype: object
fare       8.05
pclass    Third
Name: 304, dtype: object
fare      151.55
pclass     First
Name: 305, dtype: object
fare      110.8833
pclass       First
Name: 306, dtype: object
fare      108.9
pclass    First
Name: 307, dtype: object
fare        24.0
pclass    Second
Name: 308, dtype: object
fare      56.9292
pclass      First
Name: 309, dtype: object
fare      83.1583
pclass      First
Name: 310, dtype: object
fare      262.375
pclass      First
Name: 311, dtype: object
fare        26.0
pclass    Second
Name: 312, dtype: object
fare      7.8958
pclass     Third
Name: 313, dtype: object
fare       26.25
pclass    Second
Name: 314, dtype: object
fare      7.8542
pclass     Third
Name: 315, dtype: object
fare        26.0
pclass    Second
Name: 316, dtype: object
fare        14.0
pclass    Second
Name: 317, dtype: object
fare      164.8667
pclass       First
Name: 318, dtype: object
fare      134.5
pclass    First
Name: 319, dtype: object
fare       7.25
pclass    Third
Name: 320, dtype: object
fare      7.8958
pclass     Third
Name: 321, dtype: object
fare       12.35
pclass    Second
Name: 322, dtype: object
fare        29.0
pclass    Second
Name: 323, dtype: object
fare      69.55
pclass    Third
Name: 324, dtype: object
fare      135.6333
pclass       First
Name: 325, dtype: object
fare      6.2375
pclass     Third
Name: 326, dtype: object
fare        13.0
pclass    Second
Name: 327, dtype: object
fare      20.525
pclass     Third
Name: 328, dtype: object
fare      57.9792
pclass      First
Name: 329, dtype: object
fare      23.25
pclass    Third
Name: 330, dtype: object
fare       28.5
pclass    First
Name: 331, dtype: object
fare      153.4625
pclass       First
Name: 332, dtype: object
fare       18.0
pclass    Third
Name: 333, dtype: object
fare      133.65
pclass     First
Name: 334, dtype: object
fare      7.8958
pclass     Third
Name: 335, dtype: object
fare       66.6
pclass    First
Name: 336, dtype: object
fare      134.5
pclass    First
Name: 337, dtype: object
fare       8.05
pclass    Third
Name: 338, dtype: object
fare       35.5
pclass    First
Name: 339, dtype: object
fare        26.0
pclass    Second
Name: 340, dtype: object
fare      263.0
pclass    First
Name: 341, dtype: object
fare        13.0
pclass    Second
Name: 342, dtype: object
fare        13.0
pclass    Second

0      None
1      None
2      None
3      None
4      None
       ...
886    None
887    None
888    None
889    None
890    None
Length: 889, dtype: object